
body {
    background: radial-gradient(rgb(0, 144, 0),rgb(0, 66, 0));
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
     
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.baksida-kort{
    
    height: auto;
    align-self: center;
    margin-bottom: -70%;
    max-width: 60%;
    
}

.turnAmountBox{
    width: 10%;
    height: 5%;
    background-color: black;
    border: solid white;
    position: absolute;
    top: 4.5%;
    left: 92%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    
    font-family: "digital-7";
    color: rgb(255, 82, 82);
    text-align: center;
    font-size: 200%;

}
@font-face {
    font-family: digital-7;
    src: url('digital-7.ttf')

}

.button{
    border-radius: 25px;
    margin-left: 1%;
    margin-top: 1%;
    width: 14%;
    height: 5%;
    font-size: 110%;
    background-color: black;
    color: rgb(208, 169, 44);
    border: solid white;
    text-align: center;
    transition: transform 0.5s;
}

.button:hover{
    transform: scale(105%)
}

.youLoseImage{
    width: 50%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.winImage{
    width: 30%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cards{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
    
    
    
}

.cards-column{
    display: flex;
    flex-direction: column;
    width: 20%;
    
    
}

