
body {
    background: radial-gradient(rgb(0, 144, 0),rgb(0, 66, 0));
    background-attachment: fixed;
     
}
.baksida-kort{
    
    height: auto;
    align-self: center;
    margin-bottom: -70%;
    max-width: 60%;
    
    
    
    
    
}
.cards{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
    
    
    
}

.cards-column{
    display: flex;
    flex-direction: column;
    width: 20%;
    
    
}

